*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}body{
	font-family: 'Poppins', sans-serif;
}
header{
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
	width: 90%;
	height: 10vh;
	margin: auto;
}
.logo-container,.nav-links,.cart{
	display: flex;
}
.logo-container{

flex: 1;
}
.logo{
	font-weight: 400;
	margin: 5px;
}
nav{

flex: 2;
}
.nav-links{
	justify-content: space-around;
}
.cart{
/* background-color: blueviolet; */
flex: 1;
}
